// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

//Colors
$white: #FFF;
$red: #C7292A;
$light-blue: #24a2c6;

body {
  font-family: "Kohinoor Devanagari", Kohinoor Devanagari, sans-serif;
  font-weight: lighter;
}

h1{
  font-family: "Bebas Neue", Bebas Neue, sans-serif;
  color: $light-blue;
  font-size:3em;
}

h2{
  font-family: "Bebas Neue", Bebas Neue, sans-serif;
  font-weight: lighter;
}

ul li a{
  color: $white;
  font-family: "Quicksand", Quicksand, sans-serif;
  font-weight: bold;
  font-size: 11pt;
}

.textballoon p{
  font-family: "Kohinoor Devanagari", Kohinoor Devanagari, sans-serif;
  font-weight: lighter;
  color: $red;
}